*{
    background-color:beige;
}
.resume{
    display:flex;
}
.nameimg{
    display:flex;
}
.aboutme h2{
    border-bottom: 2px solid blue;;
}
img{
	width:100px;
	height:100px;
	padding-right:20px;
}
p{
	margin:0px;
	padding:2px;
}
.materialicons{
	height:50px;
}